@charset "utf-8";

html {
    box-sizing: border-box;
    background-color: black;
}

*{
    box-sizing: inherit;
}

div#container {
    /* Image edited by gemini to remove the text. Original is a Poster from Halloween 1978 */
    background-image: url("../images/halloween-no-text-gemini.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 750px;
    height: 1000px;
    position: relative;
    color: white;
}

header {
    text-transform: capitalize;
    font-family: serif;
    font-size: 25px;
    width: 1in;
}

header strong {
    text-transform: uppercase;
}

h2 {
    position: relative;
    padding-left: 1em;
    padding-top: 1em;
}

h1, h3 {
    color: rgb(252, 82, 2);
    text-transform: uppercase;
}

h1 {
    font-size: 95px;
    position: absolute;
    margin: 0;
    top: 7.7em;
    left: 12.5px;
}

main h3 {
    position: absolute;
    margin: 0;
    top: 38.7em;
    left: 13em;
}

section#title p{
    position: relative;
    text-align: right;
    margin-top: 77%;
    margin-right: 7em;
    /* put a font and color here */
}

section#description {
    text-align: center;
    line-height: 0.25em;
    font-size: 14px;
    position: relative;
    margin: 0;
    right: 3.5em;
}

ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 75%;
    position: relative;
    margin: 0px;
    left: 4px;
    z-index: 1;
}

p img{
    width: 100px;
    height: 50px;
    position: absolute;
    margin: 0px;
    top: 57.2em;
    left: 34em;
    z-index: 0;
}

#black{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#down{
    top: 25px;
}

#title p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#bigger{
    font-size: 120%;
}

#stack {
    display: grid;
    position: relative;
    right: 60px;
}

#i{
    font-size: 120%;
    padding: 5px;
}

#year{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 30px;
    left: -8px;
}

#bottom{
    color: black;
    font-size: 70%;
    position: absolute;
    margin: 0;
    top: 977px;
    left: 155px;
}

#bottom li{
    padding-right: 200px;
}

footer{
    font-size: 20px;
    color: white;
    position: absolute;
    margin: 0;
    top: 2em;
    left: 38em;
}

a {
    color: white;
    text-decoration: underline;
}